asgiref==3.3.1
audiotsm2==0.2.1
auto-editor==21.11.1
av==8.0.3
certifi==2020.12.5
chardet==4.0.0
Django==3.1.4
idna==2.10
lxml==4.6.2
numpy==1.20.2
opencv-python==4.5.1.48
python-docx==0.8.10
pytz==2020.5
requests==2.25.1
sqlparse==0.4.1
urllib3==1.26.3
youtube-dl==2021.4.7
