<!DOCTYPE html>
<html>
<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<body>


    <a href="/NPCGenerator/NPCGenerator">WFRP 2E NPC Generator</a><br>
    <a href="/hammer/createItem">WFRP 2E Magic Item Generator</a><br>
    <a href="/hammer/createMutation">WFRP 2E Mutation Generator</a><br>
    <a href="/chapters/chapters/">Space Marine Chapter Generator</a><br>
    <a href="/hammer/runes">A few runes from WFRP 1st edition adapted to 2nd</a><br>




</body>
</html>
